//===========================================
//============= colors ======================
//===========================================

$dark: hsl(0, 0%, 0%);
$overlayDark: hsla(238, 51%, 11%, 0.8);
$light: hsl(0, 0%, 100%);
$blueText: hsl(201, 96%, 28%);
$gray: hsl(0, 0%, 67%);
$pageBackground: hsl(30, 33%, 94%);
$bgBlue: hsla(200, 84%, 55%);
$burgerBars: #161820;

// unused
$footerLink: hsl(0, 0%, 0%);
$contactsList: hsl(201, 96%, 28%);
$aboutUsTitle: hsl(203, 100%, 36%);
$aboutUsTitleMax: hsl(0, 0%, 100%);

//===========================================
//============= dimensions ==================
//===========================================

$contentWidth: rem(1440);

$layoutTopPadding: 130px;

//===========================================
//============= breakpoints =================
//===========================================

$breakpointBurger: '829px';
