//===========================================
//============= colors ======================
//===========================================

$dark: #000000;
$overlayDark: #0e0f2acc;
$light: #ffffff;
$blueText: #035c8c;
$gray: #ababab;
$pageBackground: #f5f0eb;
$bgBlue: #2caced;
$burgerBars: #161820;

// unused
$footerLink: #000000;
$contactsList: #035c8c;
$aboutUsTitle: #0071b8;
$aboutUsTitleMax: #ffffff;

//===========================================
//============= dimensions ==================
//===========================================

$contentWidth: rem(1440);

$layoutTopPadding: 130px;

//===========================================
//============= breakpoints =================
//===========================================

$breakpointBurger: '829px';
