.Root {
	@include heading2(500);
	align-items: center;
	display: flex;
	flex-direction: column;

	@include respondBelow($breakpointHeader) {
		display: none;
	}
}

.Button {
	@include darkenHover;
	@include text1(500);
	background: linear-gradient(180deg, #0584d7 0%, #3abdf5 100%);
	border: 1px solid #fdfeff;
	border-radius: 16px;
	cursor: pointer;
	padding: rem(5) rem(15);
}
