.contacts {
	background-image: url('../../../../public/bg/backgroundContactsMax.png');
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: contain;
}

.contacts > * {
	text-align: center;
}

.contacts :is(p, h2, h3) {
	@include text1($blueText);
}

.contacts p:nth-last-child(-n + 3) {
	margin-top: 1.5rem;
}

.contacts h3:not(:first-child) {
	margin-top: 1.5rem;
}

.contacts > h2 {
	@include heading2;
	margin-top: 1rem;
}
