.Overlay {
	animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
	background-color: $overlayDark;
	inset: 0;
	position: fixed;
}

.Content {
	animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
	background-color: $light;
	border-radius: 6px;
	box-shadow: hsl(206 22% 7% / 35%) 0 10px 38px -10px,
		hsl(206 22% 7% / 20%) 0 10px 20px -15px;
	left: 50%;
	max-height: 85vh;
	max-width: 450px;
	padding: 25px;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 90vw;
}

.Content:focus {
	outline: none;
}
