.bgHeader {
	// background-image: url('/assets/intro/blur-field-texture.jpg');
	// background-position: center;
	// background-size: cover;
}

.Header {
	align-items: center;
	display: flex;
	gap: 2px;
	justify-content: space-between;
	margin-inline: auto;
	max-width: var(--content-width);
	padding-inline: var(7);
	padding-right: rem(35);
	padding-top: rem(15);
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;

	@include respondAbove($breakpointHeader) {
		border-bottom: 16px solid #0072ba29;
		gap: 4%;
		padding-inline: rem(50);
	}
}

.Number {
	@include heading2(500);
	align-items: center;
	display: flex;
	flex-direction: column;
}

.LogoLink {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	text-align: center;
	width: 100%;

	@include respondAbove($breakpointHeader) {
		flex-direction: column;
		justify-content: start;
		width: auto;
	}
	@include respondBelow($breakpointHeader) {
		position: relative;
		z-index: 1002;
	}
}

.LogoLink:hover .LogoPicture {
	@include transition(transform);
	display: block;
	transform: scale(1.1);
}

.LogoPicture {
	@include transition(transform);
	// @include scaleHover;
	// @include respondAbove($breakpointHeader) {
	// 	height: rem(100);
	// 	width: rem(100);
	// }
}

.LogoText {
	background-color: #fff;
	border-radius: 4px;
	font-size: rem(15);
	font-weight: 600;
	padding: rem(4);

	@include respondBelow($breakpointHeader) {
		display: none;
	}
}

.Contacts,
.News,
.Phone {
	@include text1(400);
	@include scaleHover;
}

.Number,
.News,
.Contacts {
	@include respondBelow($breakpointHeader) {
		display: none;
	}
}

.Button {
	@include darkenHover;
	@include text1(500);
	background: linear-gradient(180deg, #0584d7 0%, #3abdf5 100%);
	border: 1px solid #fdfeff;
	border-radius: 16px;
	cursor: pointer;
	padding: rem(5) rem(15);
}

.LogoTextMob {
	font-family: var(--next-font-roboto);
	font-size: fluid(14, 28, 'vw', 420, 830);
	font-weight: 800;

	text-transform: capitalize;
	/* stylelint-disable */
	background: linear-gradient(180deg, #0d8fe2 0%, #35b6ef 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;

	border: 0.5px solid rgba(255, 255, 255, 0.59);

	@include respondAbove('830px') {
		display: none;
	}
}
